body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: center;
    background-image: url('hero.jpg');
    background-size: cover;
    align-items: center;
    width: 100%;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 450px;
    text-align: center;
}

h1 {
    color: #000000;
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}

input, select, button {
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 16px;
}

button {
    background-color: #28a745;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    font-size: 1.4em;
    font-weight: bold;
}

.image-container {
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.pet-details {
    margin-top: 30px;
    text-align: left;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
}

.pet-details h2 {
    color: #333;
    margin-bottom: 10px;
}

.pet-details p {
    margin: 8px 0;
}

.pet-details strong {
    color: #218838;
}
#result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
